<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pupils</title>
</head>
<body>

{#    {% extends 'posts/base.html' %}#}

  <div class="container">
{#    <a href="{% url 'create_post' %}" class="btn btn-primary mb-4">Create new post</a>#}
    <h1 class="text-center mb-4">  All Pupils</h1>
    <div class="row">
      {% for pupil in pupils %}
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <p class="card-title">First name: {{ pupil.user.first_name }} </p>
              <p class="card-text"> Last name: {{ pupil.user.last_name }}</p>
              <p class="card-author">Date of birth: {{ pupil.date_of_birth }}</p>
              <p class="card-author"> Class {{ pupil.school_class }}</p>

{#              <a href="{% url 'pupil_detail' pk=post.user.id %}" class="btn btn-primary">Read more</a>#}
            </div>
            <div class="card-footer text-muted">
              <small>Created at: {{ pupil.user.created_at|date:"F d, Y" }}</small>
            </div>
          </div>
        </div>
      {% empty %}
        <p class="text-center">No pupils available.</p>
      {% endfor %}
    </div>
  </div>

{#{% endblock %}#}

</body>
</html>